@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$d-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); /*for p*/
$light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
$font-heading: 'Big Shoulders Display', serif;
$font-paragraph: 'Lexend Deca', sans-serif;

body {
  font-size: 15px;
  background: $light-gray;
}

h1 {
  color: $light-gray;
  font-family: $font-heading;
  line-height: 3;
}

p {
  color: $transparent-white;
  font-family: $font-paragraph;
  line-height: 1.6;
}

h1,
p {
  padding: 0 50px;
}

a {
  text-decoration: none;
  font-family: $font-paragraph;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15% 0;

  @media (min-width: 767px) {
    justify-content: center;
  }
}

.card {
  max-width: 350px;
  min-height: 430px;

  @media (min-width: 767px) {
    max-width: 310px;
  }
}

.car-img {
  position: relative;
  top: 50px;
  left: 50px;
  width: 40px;
  height: 40px;
}

.heading {
  padding-top: 50px;
  text-transform: uppercase;
}

.btn-container {
  padding: 50px 0 60px 40px;

  @media (min-width: 767px) {
    padding: 105px 0 75px 50px;
  }
}

.button {
  background: $light-gray;
  padding: 15px 30px;
  border-radius: 30px;
}

.button:hover {
  background: transparent;
  border: 2px solid $light-gray;
  color: $light-gray;
}

.orange {
  background: $orange;
  border-radius: 10px 10px 0 0;

  a {
    color: $orange;
  }

  @media (min-width: 767px) {
    border-radius: 10px 0 0 10px;
  }
}

.cyan {
  background: $cyan;

  a {
    color: $cyan;
  }
}

.d-cyan {
  background: $d-cyan;
  border-radius: 0 0 10px 10px;

  a {
    color: $d-cyan;
  }

  @media (min-width: 767px) {
    border-radius: 0 10px 10px 0;
  }
}
